body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left bottom, rgb(4, 126, 248), rgb(231, 245, 106));
    font-family: monospace, sans-serif;
    color: rgb(36, 35, 36);

}

.container {
    background: rgba(255, 255, 255, 0.405);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(231, 245, 106, 0.752);
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 220px;
    font-family: monospace;
    float: right;
    padding: 7px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    color: rgb(23, 57, 80);
    font-size: 18px;
    border-radius: 20px;
}

input::placeholder{
    color: rgb(90, 88, 88);
}
#btn {
			background:#40a1ff ;
			color: white;
}